
        .formWrap{
            margin-top: 30px;
            i{
               margin:10px;
                
            }
            .links{
                display: block;
                width: 100%;
                margin:15px auto 0;
                font-size: 15px;
                text-align: center;
                a{
                    color: rgb(0, 0, 0);
                }
            }

        }
    
